*.autosave
*.egg-info
*.mo
*.py[co]
/*.log
/.emacs.desktop.lock
/.requirements.timestamp
/bin/
/buildout/cache/
/buildout/parts/
/buildout/status
/buildout/timestamp
/develop-eggs
/eggs/
/emacs.desktop
/env/
/src/pip-delete-this-directory.txt
/var/
/etc/
